* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #4d6f48;
    height: 100vh;
}

.dado-player,
.dado-pc {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 4px black;
    border-radius: 10px;
}